* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
  font-family: 'Roboto';
}

.nameLetter {
  transition: color 0.35s ease-in-out, font-weight 0.35s ease-in-out;

  &:hover {
    font-weight: bold;
    color: #6494cd;

    & + .nameLetter {
      font-weight: bold;
      color: #aecde7;
    }
  }
  &.nameLetter:has(+ :hover) {
    font-weight: bold;
    color: #aecde7;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px #6a4b42;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6a4b42;
}

::-webkit-scrollbar-thumb:hover {
  background: #a97f66;
  cursor: pointer;
}
